
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #773F8E 0%, #E68FAF 100%);
}


header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background-color: white; 
  padding: 15px;
}


.nav-buttons button {
  background: linear-gradient(180deg, #773F8E 0%, #E68FAF 100%); 
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Poppins', sans-serif;
}
.noticia {
background-color: white;      
  padding: 20px;                
  margin: 40px auto;            
  width: 80%;                  
  max-width: 600px;             
  border-radius: 12px;          
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}
.noticia img {
  width: 100%;         
  height: auto;        
  border-radius: 10px; 
  display: block;      
}

.nav-buttons button:hover {
  background-color: #45a049;
}

#p_pagina{
    background-color: rgba(8, 1, 46, 0.29);
    width: auto;
    height: 150px;
    text-align: center;
    font-style: italic;
    color:grey
}
#contactos{
    width: 350px;
    height: 350px;
    text-align: center;
    margin: 20px;
    padding-top: 30px;
}
main{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    gap: 40px;   
}

.navbar {
    display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 24px;
}

.navbar a {
  color: #f5f6fa;
  text-decoration: none;
  font-size: 1.2em;
  padding: 16px 8px;
  display: block;
  transition: background 0.3s, color 0.3s;
  border-radius: 6px;
}

.navbar a:hover,
.navbar a.active {
  background: #393e46;
  color: #00adb5;
}
#imagen {
  width: 45%;                     /* ajusta según lo que quieras ocupar */
  display: flex;
  justify-content: flex-end;      /* empuja la imagen a la derecha */
  align-items: center;
}

#imagen img {
  width: 350px;                   /* ajusta el tamaño de la imagen aquí */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
