body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #773F8E 0%, #E68FAF 100%);
}


header {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  background-color: #white; 
  padding: 15px;
}


.nav-buttons button {
  background: linear-gradient(180deg, #773F8E 0%, #E68FAF 100%); 
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  font-family: 'Poppins', sans-serif;
}
.noticia {
background-color: white;      
  padding: 20px;                
  margin: 40px auto;            
  width: 80%;                  
  max-width: 600px;             
  border-radius: 12px;          
  box-shadow: 0 4px 15px rgba(0,0,0,0.2); 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}
.noticia img {
  width: 100%;         
  height: auto;        
  border-radius: 10px; 
  display: block;      
}

.nav-buttons button:hover {
  background-color: #45a049;
}