body {
    margin: 0;
    background: #181818;
    color: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

}

.navbar {
    display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 24px;
}

.navbar a {
  color: #f5f6fa;
  text-decoration: none;
  font-size: 1.2em;
  padding: 16px 8px;
  display: block;
  transition: background 0.3s, color 0.3s;
  border-radius: 6px;
}

.navbar a:hover,
.navbar a.active {
  background: #393e46;
  color: #00adb5;
}

#contenido {
  padding: 32px;
  text-align: center;
}
